@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Oxygen&display=swap");

/* RESET */
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
  }
  @font-face {
    font-family: Oxygen-Regular;
    src: url(../assets/fonts/Oxygen-Regular.ttf);
  }

  /* PROPIEDADES PARA TODO EL SITIO */
body {
    font-family: Oxygen-Regular, sans-serif, Arial, Helvetica, sans-serif !important;
    background-color: #c0d6bc;
  }

/* ENLACES */
.nav-log {
  color: #baa480;
  cursor: pointer;
}
footer a {
  color: #baa480;
  font-weight: bold;
}
main a {
  color: black;
  color: #baa480;
  font-weight: bold;
  transition: all ease-in-out 0.3s;
}
main a:hover {
  color: #baa480;
  transform: scale(1.2);
  filter: drop-shadow(4px 4px 4px rgba(32, 53, 54, 0.4));
}

/* Estilos de SWEET ALERT */
.swal2-popup{
  background-color:#455c50;
}
.swal2-title{
  color: #baa480;
  font-weight: bold;
}
.swal2-confirm {
  font-size: 18px;
  background-color: #2b4542 ;
  color:#baa480;
}
#swal2-html-container{
  color: #baa480;
  font-weight: bold;
}
.swal2-x-mark, .swal2-x-mark-line-left, .swal2-x-mark-line-right{
  color: #baa480;
}
.swal2-x-mark,
.swal2-x-mark-line-left,
.swal2-x-mark-line-right{
  color: aquamarine;
}

/* BOTONES */
.btn {
  background-color: #2b4542;
  cursor: pointer;
  transition: all ease-in-out 0.3s;
}
.btn:hover {
  background-image: linear-gradient(to right, #203536, #263c3b, #2c4340, #334b45, #3a524a, #3a524a, #3a524a, #3a524a, #334b45, #2c4340, #263c3b, #203536);
  transform: scale(1.1);
}

/* HEADER */
header {
  width: 100%;
  padding: 20px 25px 0;
  background-color: #455c50;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-flow: row wrap;
}
header .container__logo img {
  width: 300px;
}
/* Menú hamburguesa */
header .button {
  display: none;
  position: relative;
  border: none;
  cursor: pointer;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
}
header .button:hover{
  filter: drop-shadow(0px 0px 5px #c0d6bc);
}
header .svg {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
header .abrirhamb, header .cerrarhamb {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
}
header .cerrarhamb {
  display: none;
}
/* Navegación */
.nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: auto;
  background-color: #455c50;
  gap: 70px;
  padding: 0;
  margin: 0;
}
.nav-links {
  display: flex;
  flex-flow: row nowrap;
  height: 100%;
  font-size: 1.2rem;
}
.nav-links li {
  position: relative;
  margin: 0px 1rem;
}
.nav-links li a {
  display: block;
  padding: 1rem;
  color: #baa480;
}
.nav-links li a:hover{
  color: #928d7f;
  transition: all 0.3s;
}
/* Menú depslegable */
.submenu {
  display: none;
  position: absolute;
  top: 100%;
  width: 100%;
  z-index: 10;
  left: 0;
  color: #7f796c;
  background-color: #203536;
  filter: drop-shadow(0px 4px 6px rgba(32, 53, 54, 0.4));
}

.nav-links li .submenu {
  display: none;
}

.nav-links li.active .submenu {
  display: block;
}

.nav-links li .arrow.active  {
  content: "▼"; /* Flecha hacia abajo por defecto */
}

.nav-links li.arrow {
  content: "▲"; /* Flecha hacia arriba cuando está activa */
}


.submenu__item a {
  margin: auto;
  transition: color 0.3s ease;
}
.submenu__item:hover{
cursor: pointer;
color: #baa480;
}
.nav-links li.has-submenu:hover .submenu {
  display: block;
}
.nav-links li.activo .arrow {
  transform: rotateY(180deg);
  transition: transform 0.3s ease; 
}
/* Buscador, carrito y login */
.nav-extras {
  display: flex;
  align-items: center;
  gap: 15px;
}
.buscar_input {
  background-color: #203536;
  color: #baa480;
  border: solid 1px #baa480;
  padding: 8px 16px;
  width:200px;
  border-radius: 0.625rem;
  outline: none;
  font-family: Oxygen-Regular !important;
  font-size: 1.2rem;
  transition: all 0.3s;
}
.buscar_input:focus,
.buscar_input:active {
  border: solid 1px #baa480;
  filter: drop-shadow(0px 0px 5px #c0d6bc);
}
#abrir-carrito-btn {
  width: 35px;
  padding: 0;
  background-color: transparent!important;
  cursor: pointer;
  border: none;
}
#abrir-carrito-btn img {
  width: 35px;
  height: auto;
  transition: all 0.3s;
  
}
#abrir-carrito-btn img:hover{
  filter: drop-shadow(0px 0px 5px #c0d6bc);
}
.log {
  background-color: transparent!important;
  border: none; 
  transition: all 0.3s;
}
.log a {
  color: #baa480;
  font-size: 1.2rem;
  white-space: nowrap;
}
.log a:hover{
  filter: drop-shadow(0px 0px 5px #c0d6bc);
}
#nav-login:hover{
  font-size: 1rem;
  filter: drop-shadow(0px 0px 5px #c0d6bc);
}

/* FOOTER INDEX */
.footer_index {
  margin: 0;
  padding: 0;
  background-color:  #c0d6bc;
  position: relative;
}
.footer_index img{
  display: block;
  width: 100%;
  height: auto;
  bottom:0;
}

/* FOOTER DE TODAS LAS PÁGINAS */
footer {
  width: 100%;
  background-color: #203536;
  color: #baa480;
}
footer .footer__titulo {
  width: 100%;
  padding: 10px 0px 0px 50px;
  height: 95px;
}
footer .footer__titulo .footer__logo {
  padding-top: 20px;
  height: 95px;
}
footer .footer__redes {
  display: flex;
  justify-content: center;
  gap: 50px;
  font-size: 1.3rem;
  text-align: center;
  padding-bottom: 30px;
}
footer .footer__redes a:hover {
  color: rgb(127, 121, 108);
  transition: 0.3s ease-in-out;
}
footer .footer__redes i {
  padding-right: 5px;
}
footer .footer__disclaimer {
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
}
footer .footer__disclaimer a:hover {
  color: hsl(43, 8%, 46%);
  transition: 0.3s ease-in-out;
}
footer .footer__disclaimer marquee {
  overflow-x: hidden;
}
footer .footer__copyright {
  display: flex;
  justify-content: center;
  padding: 5px;
  text-align: center;
  font-size: 0.625rem;
}

/* PÁGINA INDEX - LOGIN Y REGISTRO */
#login-container, #register-container {
  max-width: 300px;
  margin: 50px auto;
  padding: 20px;
  border-radius: 5px;
}
#login-container h2, #register-container h2 {
  margin-bottom: 20px;
}
#login-container label, #register-container label {
  display: block;
  margin-bottom: 5px;
}
#login-container input, #register-container input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}
#login-container button, #register-container button {
  width: 100%;
  margin: 15px 0;
  cursor: pointer;
  background-color: #455c50;
  color: #baa480;
  font-size: 1rem;
  border: solid 1px #baa480 ;
  padding: 15px;
  border-radius: 0.625rem;
  cursor: pointer;
}

/* PÁGINA HOME */
/* Slider */
.carrousel {
  width: 100%;
  overflow: hidden;
  position: relative;
  filter: drop-shadow(4px 4px 4px rgba(32, 53, 54, 0.6));
}
.carrousel .grande {
  width: 400%;
  display: flex;
  flex-flow: row nowrap;
  transition: all .5s ease;
  transform: translateX(0%);
}
.imgslider {
  width: calc( 100% / 4 );
}
.carrousel .flecha {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 1;
}
.span-arrow {
  color: rgb(127, 121, 108) !important;
  font-size: 48px !important;
  font-weight: bold !important;
  transition: all ease-in-out 0.5s;
}
.span-arrow:hover{
  color: #baa480;
  transform: scale(1.2);
  filter: drop-shadow(0px 0px 5px #c0d6bc);
}
.carrousel .flecha.izquierda {
  left: 15px;
}
.carrousel .flecha.derecha {
  right: 15px;
}

 /* Sección "About" y Sección "Graves" */
.index__secciones {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px 125px;
}
.index__secciones h3 {
  font-size: 3rem;
  text-align: center;
  margin-bottom: 0.9375rem;
}
.index__secciones p {
  font-size: 1.3rem;
  text-align: justify;
}
.index__secciones .linkUp {
  line-height: 4rem;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}
.index__secciones .seccion__about, .index__secciones .seccion__grave {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 25px 50px;
  gap: 2.5rem;
  margin-bottom: 4.6875rem;
  width: 100%;
}
.index__secciones .seccion__about .about__imagen, .index__secciones .seccion__grave .about__imagen {
  width: 31.25rem;
  filter: drop-shadow(4px 4px 4px rgba(32, 53, 54, 0.4));
  border-radius: 0.625rem;
  z-index: -100;
}
.index__secciones .seccion__grave .grave__imagen {
  width: 25rem;
  filter: drop-shadow(4px 4px 4px rgba(32, 53, 54, 0.4));
  filter: drop-shadow(-4px 4px 6px rgba(32, 53, 54, 0.4));
  border-radius: 0.625rem;
}

/* Animación de las imágenes */
.distorsionable{
  transition: transform 0.5s;
}
.skew-right {
  animation: skew-right 0.5s;
}
.skew-left {
  animation: skew-left 0.5s;
}
@keyframes skew-right {
  0%, 100% { transform: skew(0deg, 0deg); }
  25% { transform: skew(10deg, 10deg); }
  50% { transform: skew(-10deg, -10deg); }
  75% { transform: skew(10deg, 10deg); }
}
@keyframes skew-left {
  0%, 100% { transform: skew(0deg, 0deg); }
  25% { transform: skew(-10deg, -10deg); }
  50% { transform: skew(10deg, 10deg); }
  75% { transform: skew(-10deg, -10deg); }
}

/* PÁGINA GRAVES */
/* Wrapper */
.main_graves .wrapGraves {
  background: url(../assets/imgs/graves/Tomba-Ribaudo-staglieno-genova\ -\ copia.jpg);
  background-position: 75% 30%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #baa480;
  text-align: center;
  font-size: 3rem;
  font-weight: bolder;
  text-shadow: 3px 4px 4px rgba(19, 18, 18, 0.381);
  width: 100%;
  height: 43.75rem;
  background-size: cover;
  margin-bottom: 20px;
}
@media screen and (max-width: 768px) {
  .main__graves .wrapGraves {
    font-size: 2.7rem;
  }
}
@media screen and (max-width: 360px) {
  .main__graves .wrapGraves {
    font-size: 2.5rem;
  }
}
/* Botones BS */
.main_graves .btn-group {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 4.6875rem;
  gap: 1.25rem;
}
.main_graves .btn-group .btn-personal {
  background-color: #203536;
  font-family: Oxygen-Regular !important;
  color: #baa480;
  border: none;
  font-weight: bold;
  padding: 8px 16px;
  border-radius: 0.625rem;
  font-family: Oxygen-Regular !important;
  font-size: 2rem;
  width: 18.75rem;
  padding: 1.25rem;
  border-radius: 0.625rem;
  filter: drop-shadow(0px 4px 6px #203536);
  transition: all 0.3s;
}
.main_graves .btn-group .btn-personal:hover a {
  color: #928d7f;
}
/* Secciones */
.main_graves{
  background-color: #2b4542;
  min-height: 100vh; 
}
.artists__section, .scientists__section, .thinkers__section{
  width: 100%;
  text-align: center;
  padding: 50px 50px;
  font-size: 1.3rem;
}
.artists__section h2,
.scientists__section h2,
.thinkers__section h2, .search-message{
  font-size: 3rem;
  color: #baa480;
  padding: 50px;
}
.grave__container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
  grid-auto-rows: minmax(700px, auto);
  gap: 65px;
  padding-top: 50px;
}
/* Flipping cards */
.card-container {
  position: relative;
  border-radius: 0.9375rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.card {
  position: relative;
  width: 100%;
  height: 100%;
  color: #baa480;
  border-radius: 0.9375rem;
  transform-style: preserve-3d;
  transition: transform 0.7s;
  backface-visibility: hidden;
}
.face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 0.9375rem;
  border: solid 1px #baa480;
}
.front, .back {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.front {
  transform: rotateY(0deg);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 1);
}
.front img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.front h3 {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 45px;
  font-size: 1.3rem;
  text-align: center;
  background-color: #2b4542;
  padding: 10px;
}
.back {
  transform: rotateY(180deg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #2b4542;
  padding: 0.9375rem;
  color: #baa480;
  text-align: center;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 1);
  overflow: hidden;
}
.back h3 {
  font-size: 1.4rem;
}
.back p {
  font-size: 1.2rem;
  padding: 0.9373rem;
  text-align: justify;

  max-width: 100%;
  max-height: 100%;
 
}
.card-container:hover .card {
  transform: rotateY(180deg);
}
/* Botón de las cards: Add to cart */
.button-buy-container{
  display: flex;
  justify-content: center;
  margin-top: 25px;
}
.buy-button {
  background-color: #2b4542;
  color: #baa480;
  border: solid 1px #baa480 ;
  padding: 8px 16px;
  border-radius: 0.625rem;
  justify-content: center;
}
/* Carrito de compras */
.carrito {
  position: fixed;
  top: 0;
  right: -100%;
  width: 30%;
  height: 100%;
  background-color: #c0d6bc;
  color:#2b4542;
  border-left: 2px solid #2b4542;
  padding: 50px 20px 0;
  box-shadow: 10px 0 10px rgba(0, 0, 0, 0.5);
  overflow-y: auto;
  z-index: 999;
  transition: right 0.5s ease-out;
}
.carrito.show {
  right: 0;
}
.lista-productos {
  margin-bottom: 20px;
}
.info span {
  display: block; 
  margin-bottom: 5px; 
}
.info span strong {
  font-weight: bold; 
}
.total {
  font-weight: bold;
  text-align: center;
  padding: 15px;
  margin-bottom: 20px;
  font-size: 1.3rem;
}
.button-container {
  display: flex;
  flex-direction: row;
  gap: 5px;
  margin: 0;}
.decrementar-cantidad, .incrementar-cantidad{
  background-color: #455c50;
  color: #baa480;
  width: 25px;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 0!important;
  margin:0!important;
}
.comprar-btn,
.vaciar-btn {
  display: block;
  width: 100%;
  padding: 15px;
  margin-bottom: 15px;
  cursor: pointer;
  background-color: #455c50;
  color: #baa480;
  font-size: 1rem;
  border: solid 1px #baa480 ;
  border-radius: 0.625rem;
}
.cerrar-btn {
  position: absolute;
  width: 25px;
  top: 15px;
  right: 15px;
  padding: 5px;
  border: none;
  background-color: transparent;
  color: #baa480;
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
}
.cerrar-btn:hover{
  filter: drop-shadow(0px 0px 4px #455c50);
}
.producto-carrito {
  display: flex; 
  align-items: center; 
  margin: 15px 0;
  gap: 20px;
}
.imagenCarrito{
  margin: 25px 0 10px;
  width: 100px;
  border: solid 2px  #2b4542;
  border-radius: 5px;
  box-shadow: 0px 10px 8px rgba(0, 0, 0, .3);
}
/* Mensajes de compra exitosa y carrito vaciado */
.empty_success{
  margin: 15px;
  text-align: center;
  font-size: 1.2rem;
}
.mensaje-carrito-vacio, #mensaje-eliminacion {
  margin-top: 20px;
  font-weight: bold;
  text-align: center;
}

/* PÁGINA LOCATIONS */
.locations {
  background-color: #2b4542;
}
/* Wrapper */
.locations .wrapLocations {
  background: url(../assets/imgs/locations/locations.jpg);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #baa480;
  text-align: center;
  font-size: 3rem;
  font-weight: bolder;
  text-shadow: 3px 4px 4px rgba(19, 18, 18, 0.381);
  width: 100%;
  height: 43.75rem;
  background-size: cover;
  background-position: center;
  background-position: 15% 10%;
}
@media screen and (max-width: 768px) {
  .locations .wrapLocations {
    font-size: 2.7rem;
  }
}
@media screen and (max-width: 360px) {
  .locations .wrapLocations {
    font-size: 2.5rem;
  }
}
.locations .locations__grid {
  width: 100%;
  display: grid;
  grid-template-columns: 30% 70%;
  grid-template-rows: 1fr;
  grid-template-areas: "aside principal";
}
.locations .locations__grid .aside {
  grid-area: aside;
  height: 100%;
  padding: 35px 50px;
}
.locations .locations__grid .locations__main {
  display: flex;
  flex-direction: column;
  gap: 0px;
}
.locations .locations__grid .locations__main .locations__pais {
  display: flex;
  flex-direction: column;
  padding-top: 2.1875rem;
}
.locations .locations__grid .locations__main .locations__pais h2 {
  font-size: 2rem;
  color: #baa480;
  font-weight: 600;
  text-shadow: 4px 4px 4px #203536;
  padding-bottom: 1.875rem;
}
.locations .locations__grid .locations__main .locations__pais h3 {
  font-size: 1.5rem;
  color: #baa480;
  padding-bottom: 15px;
  font-weight: 600;
  justify-content: start;
}
.locations .locations__grid .locations__main .locations__pais .locations__ciudad {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: start;
  flex-wrap: wrap;
  gap: 3.125rem;
  margin-bottom: 1.5625rem;
  padding-bottom: 3.125rem;
}
.locations .locations__grid .locations__main .locations__pais .locations__ciudad .ciudad__titulo {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  flex-wrap: wrap;
}
.locations .locations__grid .locations__main .locations__pais .locations__ciudad .ciudad__titulo h4 {
  font-size: 1rem;
  line-height: 1.3;
  color: #baa480;
  padding-bottom: 1.25rem;
  display: flex;
  flex-direction: row;
}
.locations .locations__grid .locations__main .locations__pais .locations__ciudad .ciudad__titulo li {
  font-size: 1rem;
  line-height: 1.3;
  color: #baa480;
}
.locations .locations__grid .locations__main .locations__pais .locations__ciudad iframe {
  width: 18.75rem;
  height: 6.25rem;
}
/* Acordeón - Aside */
.accordion {
  border-radius: 4px;
}
.accordion-item {
  border-bottom: solid 2px #203536;
  padding: 15px 10px;
}
.accordion-header {
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
}
.accordion-title{
  color: #baa480;
  margin-left: 10px;
}
.accordion-title:hover {
  color: hsl(43, 8%, 46%);
  transition: all 0.3s;
}
.accordion-icon::before {
  content: url(../assets/imgs/logo/bx-world.png);
  margin-right: 5px;
}
.accordion-item.open .accordion-icon::before {
  content: url(../assets/imgs/logo/close.png);
}
.accordion-content {
  display: none;
  padding: 10px 25px;
}
.accordion-content li{
  padding:5px;
}
.accordion-content a:hover {
  color: hsl(43, 8%, 46%);
  transition: 0.3s ease-in-out;
}
.accordion-item.open .accordion-content {
  display: block;
}

/* PÁGINA CONTACTO */
.main__contacto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}
/* Wrapper */
.main__contacto .wrapContacto {
  background: url(../assets/imgs/contact/westminster.jpg);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #baa480;
  text-align: center;
  font-size: 3rem;
  font-weight: bolder;
  text-shadow: 3px 4px 4px rgba(19, 18, 18, 0.381);
  width: 100%;
  height: 43.75rem;
  background-size: cover;
  background-position: center;
  filter: drop-shadow(0px 4px 6px rgba(32, 53, 54, 0.4));
}
@media screen and (max-width: 768px) {
  .main__contacto .wrapContacto {
    font-size: 2.7rem;
  }
}
@media screen and (max-width: 360px) {
  .main__contacto .wrapContacto {
    font-size: 2.5rem;
  }
}
/* Mail */
.main__contacto .mail__contacto {
  width: 100%;
  text-align: center;
  font-size: 1.3rem;
  padding: 1.5625rem;
  padding-bottom: 0;
}
.main__contacto .mail__contacto > p {
  margin-top: 1.25rem;
  margin-left: 3.125rem;
  margin-right: 3.125rem;
}
/* Form */
.main__contacto form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 1.875rem 0;
}
.main__contacto form label {
  font-weight: bold;
  font-size: 1.3rem;
  text-align: justify;
}
.main__contacto form input[type=submit] {
  background-color: #203536;
  font-family: Oxygen-Regular !important;
  color: #baa480;
  border: none;
  font-weight: bold;
  padding: 8px 16px;
  border-radius: 0.625rem;
  font-family: Oxygen-Regular !important;
  width: 18.75rem;
  color: #baa480;
  font-size: 1.3rem;
  margin-top: 10px;
  filter: drop-shadow(0px 4px 6px rgba(32, 53, 54, 0.4));
  transition: all 0.3s;
}
.main__contacto form input[type=submit][type=submit]:hover:active {
  color: #928d7f;
  background-image: linear-gradient(to right, #203536, #263c3b, #2c4340, #334b45, #3a524a, #3a524a, #3a524a, #3a524a, #334b45, #2c4340, #263c3b, #203536);
}
.main__contacto form textarea {
  filter: drop-shadow(4px 4px 4px rgba(32, 53, 54, 0.4));
  background-color: rgb(255, 255, 255);
  margin: 8px 0;
  font-family: Oxygen-Regular !important;
  font-size: 1rem;
  width: 31.25rem;
  height: 18.75rem;
  padding: 0.625rem;
  border: none;
  border-radius: 10px;
  margin: 8px 0;
}
.main__contacto form textarea:focus {
  outline: 2px solid rgba(32, 53, 54, 0.6);
}
.main__contacto form input[type=text], .main__contacto form input[type=email] {
  border: 1px solid black;
  font-family: Oxygen-Regular !important;
  font-size: 1rem;
  width: 18.75rem;
  padding: 0.625rem;
  margin: 10px 0 20px 0;
  border-radius: 0.625rem;
  border: none;
  filter: drop-shadow(4px 4px 4px rgba(32, 53, 54, 0.4));
}
.main__contacto form input[type=text][type=text]:focus, .main__contacto form input[type=text][type=email], .main__contacto form input[type=email][type=text]:focus, .main__contacto form input[type=email][type=email] {
  outline: 2px solid rgba(32, 53, 54, 0.6);
}
.main__contacto form input[type=text]:focus,
.main__contacto form input[type=email]:focus {
  outline: 2px solid rgba(32, 53, 54, 0.6);
}



/* RESPONSIVE */
@media screen and (max-width: 1024px) { /* de 1024 para abajo aplican los cambios */
  /* HEADER */
  header {
      flex-direction: row; /* Mantenemos la dirección en fila para el header */
      justify-content: space-between;
      align-items: center;
      padding: 25px;
      position: relative;
  }
  header .button {
      display: block;
  }
  /* Menú */
  .nav {
      display: none;
      flex-direction: column;
      align-items: flex-start;
      gap: 0px;
      overflow: visible;
      height: auto;
      padding: 0 25px;
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      z-index: 999;
  }
  .nav.activo {
      display: flex;
  }
  .nav-links {
      flex-direction: column;
      align-items: flex-start;
      width: 100%;
      padding: 25px;
  }
  .nav-links li {
      width: 100%;
      margin: .3rem 0;
      position: relative; /* Añadido para el posicionamiento del submenú */
  }
  .nav-links li a {
      padding: .3rem 0;
  }
  /* Submenú desplegable */
  .submenu {
      position: static;
      display: none;
      width: 100%;
      filter: none;
      padding: 0 20px;
  }
  .nav-links li:hover .submenu {
      display: block;
  }
  /* Mennú hamburguesa */
  header .button {
      display: block; /* Mostrar en versión responsive */
      border: none;
  }
  header .abrirhamb,
  header .cerrarhamb {
      display: block; /* Asegura que el icono de hamburguesa sea visible */
      width: 45px;
      width: 45px;
  }
  /* Buscador, carrito y log in */
  .nav-extras {
      display: flex;
      flex-direction: column; 
      align-items: flex-start;
      margin: 5px 25px 25px;
  }
  .nav-extras button,
  .nav-extras .log {
      margin:10px;
  }

  .log a{
    margin: 25px;
  }

  /* FOOTER */
  footer .footer__titulo {
    width: 100%;
    padding: 5px 0px 0px 25px;
    height: 95px;
  }
  footer .footer__redes {
    display: flex;
    justify-content: center;
    gap: 2.5rem;
    font-size: 1.2rem;
    padding: 1.5625rem;
  }
  footer .footer__disclaimer {
    display: flex;
    justify-content: center;
    padding-bottom: 0.625rem;
  }

  /* PÁGINA INICIO */

  /* PÁGINA HOME */
  .index__secciones {
    padding: 1.875rem;
  }
  .index__secciones h3 {
    font-size: 2rem;
    text-align: center;
  }
  .index__secciones .seccion__about, .index__secciones .seccion__grave {
    flex-direction: column;
    width: 100%;
    margin-bottom: 1.5625rem;
    padding: 0.625rem;
  }
  .index__secciones .seccion__about .about__imagen, .index__secciones .seccion__grave .about__imagen {
    width: 21.875rem;
  }
  .index__secciones .seccion__grave {
    width: 100%;
    padding: 0.625rem;
  }
  .index__secciones .seccion__grave .grave__imagen {
    display: none;
  }

  /* PÁGINA GRAVES */
  /* Carrito */
  .carrito {
    width: 50%;
  }
}

@media (min-width: 1025px) {
  header .button {
      display: none;
  }
}

@media screen and (max-width: 768px) { /* de 768 para abajo aplican los cambios */
  /* HEADER */
  header {
    width: 100%;
    padding: 15px 20px;
    background-color: #455c50;
    display: flex;
    flex-flow: column wrap;
  }
  .nav{
    padding: 10px;
  }
  .nav-extras {
    align-items: start;
  }
  .buscar_input {
    padding: 7px 10px;
    width:100%;
  }
  #nav-login{
    font-size: 1rem;
  }
  /* FOOTER */
  footer .footer__titulo {
    padding: 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  footer .footer__titulo .footer__logo img {
    width: 21.875rem;
  }
  footer .footer__redes {
    gap: 2.1875rem;
  }
  /* PÁGINA INDEX */
  #login-container, #register-container {
    max-width: 275px;
    margin: 25px auto;
  }
  /* PÁGINA GRAVES */
  .main_graves .wrapGraves {
    background-position: 50% 30%;
  }
  .main_graves .btn-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3.125rem;
    gap: 1.25rem;
  }
  .main_graves .grave__container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
    grid-auto-rows: minmax(400px, auto);
    gap: 50px;
    padding: 50px 15px;
  }
  .artists__section, .scientists__section, .thinkers__section{
    padding: 15px 20px;
    font-size: 1.2rem;
  }
  .back h3 {
    font-size: 1rem;
  }
  .back p {
    font-size: 0.9rem;
    line-height: 1;
    padding: 0.9373rem;
    text-align: justify;
  }
  .carrito {
    width: 70%;
  }
  .decrementar-cantidad, .incrementar-cantidad{
    width: 20px;
  }
  .producto-carrito {
    display: flex; 
    align-items: center; 
    margin: 15px 0;
    gap: 20px;
  }
  .imagenCarrito{
    width: 70px;
  }
  .lista-productos {
    margin: 20px 0;
  }

  /* PÁGINA LOCATIONS */
  .locations .locations__grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "aside" "principal";
    padding: 0;
    margin: 0;
  }
  .locations .locations__grid .aside {
    width: 100%;
    border-right: none;
    padding: 0 0px 0 50px;
  }
  .locations .locations__grid .locations__main {
    margin: 0px 50px 0px 50px;
    gap: 0px;
  }
  .locations .locations__grid .locations__main .locations__pais {
    padding-bottom: 0;
  }
  .locations .locations__grid .locations__main .locations__pais .locations__ciudad {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
    gap: 0.9375rem;
    padding: 0px;
  }
  .locations .locations__grid .locations__main .locations__pais .locations__ciudad .ciudad__titulo {
    width: 100%;
  }
  .locations .locations__grid .locations__main .locations__pais .locations__ciudad iframe {
    width: 15.625rem;
    height: 12.5rem;
  }

  /* PÁGINA CONTACTO */
  form {
    padding-bottom: 3.125rem;
  }
  form #message {
    width: 18.75rem;
  }
}

@media screen and (max-width: 360px) { /* de 350 para abajo aplican los cambios*/
  /* HEADER */
  header {
    width: 100%;
    padding: 15px 20x 0;
    flex-flow: column wrap;
  }
  header .container__logo img {
    width: 250px;
  }
  /* FOOTER */
  footer .footer__titulo {
    padding: 0px;
    height: 5.3125rem;
  }
  footer .footer__titulo .footer__logo img {
    padding-top: 0.625rem;
    padding-bottom: 0;
    width: 18.75rem;
  }
  footer .footer__redes {
    gap: 2.1875rem;
    font-size: 1.1rem;
    padding: 0.9375rem;
    padding-bottom: 1.25rem;
  }
  footer .footer__redes i {
    display: none;
  }
  footer .footer__copyright {
    font-size: 0.5555555556rem;
  }

  /* PÁGINA GRAVES */
  .main_graves .btn-group {
    margin: 15px;
    gap: 1.25rem;
  }
  .main_graves .grave__container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
    grid-auto-rows: minmax(400px, auto);
    gap: 25px;
    padding: 20px 0px;
  }
  .artists__section, .scientists__section, .thinkers__section{
    padding: 10px 15px;
    font-size: 1.2rem;
  }
  .carrito {
    width: 70%;
  }
  .decrementar-cantidad, .incrementar-cantidad{
    width: 20px;
  }
  .producto-carrito {
    display: flex; 
    flex-direction: column;
    align-items: center; 
    margin: 10px 0;
    gap: 20px;
  }
  .imagenCarrito{
    width: 50px;
    margin-bottom: 0;
  }
  .lista-productos {
    margin: 10px 0;
  }
  .info span {
    display: block; 
    margin-bottom: 5px; 
    text-align: center;
  }
  .total {
    font-size: 1.2rem;
  }

  /* PÁGINA LOCATIONS */
  .locations .locations__grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "aside" "principal";
    padding: 0;
    margin: 0;
  }
  .locations .locations__grid .aside {
    padding: 0 0px 0 25px;
  }
  .locations .locations__grid .locations__main {
    margin: 0 25px;
    gap: 0px;
  }

  /* PÁGINA CONTACTO */
  form {
    padding-bottom: 3.125rem;
  }
  form #message {
    width: 18.75rem;
  }
}

